body{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace
}
.query h1, .query p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.query h1 {
    font-weight: bold;
}
.hist table {
  border-collapse: collapse;
  width: 400px;
}

.hist th, .hist td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

