{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <div class="w3-container">
        <div class="w3-container w3-red">
            <h3 style="text-align: center">Admin Zone</h3>
        </div>

        <p>Select from the following users:</p><br>
        <ul>
            {% for user in users %}
                <li>Username: {{ user.get_username() }} UID: {{ user.get_id() }}</li>
            {% endfor %}
        </ul>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(cols=32, rows=4) }}<br>
                {% for error in form.username.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        <p id="numqueries">{{ requested_user.total_query_num }}</p>
        {% for req_post in requested %}
            <a id="query{{ req_post.get_id() }}" href={{ url_for('spell_check.query',
         post_id=req_post.id) }}>Query #{{ req_post.id }}</a>
        {% endfor %}
    </div>


{% endblock %}
