{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(cols=32, rows=4) }}<br>
                {% for error in form.username.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        {% if requested_user is defined %}
        <p id="numqueries">{{ requested_user.total_query_num }}</p>
        {% endif %}
        {% for req_post in requested %}
            <a id="query{{ req_post.get_id() }}" href={{ url_for('spell_check.query',
         post_id=req_post.id) }}>Query #{{ req_post.id }}</a><br>
        {% endfor %}


{% endblock %}
