{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1 class="text-center">A Spell Checker</h1>
<h2>Hi, {{ current_user.username }}!</h2>

    <p>Select from the following users:</p><br>
    <ul>
        {% for user in users %}
        <li>user</li>
    </ul>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.userid.label }}<br>
            {{ form.userid(cols=32, rows=4) }}<br>
            {% for error in form.userid.errors %}
                <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    {% if user is defined %}
        <p>
        <h4>User:{{ user.get_username }}</h4>
        <u><h5>Login History</h5></u>
        <table>
            <tr>
                <th>User ID</th>
                <th>Record ID</th>
                <th>Login Time</th>
                <th>Logout Time</th>
            </tr>
            {% for record in user.history.all() %}
            <tr>
                <th>{{ record.get_uid }}</th>
                <th>{{ record.get_eid }}</th>
                <th id="login{{ record.get_eid }}_time">
                    {{ record.get_login_time }}
                </th>
                <th id="logout{{ record.get_eid }}_time">
                    {{ record.get_logout_time }}
                </th>
            </tr>

        </table>

    {% endif %}

{% endblock %}