{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <h2>Hi, {{ current_user.username }}!</h2>

    <p>You have </p><p id="numqueries">{{ current_user.total_query_num }}</p><p> previous submissions</p>
    <br>

    <div>
    {% for post in posts %}
        <p>
        <a id="query{{ post.get_id() }}" href={{ url_for('spell_check.query', post_id=post.id) }}>Query #{{ post.id }}</a>
    {% endfor %}
    </div>

{% endblock %}
