{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron">
            Please enter credentials
        </div>
        <p>New User?<a href="{{ url_for('register') }}">Click to Register!</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">*{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">*{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.two_fa.label }}<br>
            {{ form.two_fa(size=14) }}
            {% for error in form.two_fa.errors %}
                <span style="color: red;">*{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    </div>
{% endblock %}
