{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <h2>Hi, {{ current_user.username }}!</h2>

    <div class="query">
        <h1>This post was submitted by: </h1>
        <p id="username">{{ post.author }}</p>
        <h1>Query # </h1>
        <p id="queryid">{{ post.id }}</p>
        <h1>Query text: </h1>
        <p id="querytext">{{ post.body }}</p>
        <h1>Results: </h1>
        <p id="queryresults">{{ post.results }}</p>
    </div>

{% endblock %}
