{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <h2>Hi, {{ current_user.username }}!</h2>

    <div class="query">
        <h1>This post was submitted by: </h1>
        <p id="username">{{ post.get_author() }}</p><br>
        <h1>Query # </h1>
        <p id="queryid">{{ post.get_id() }}</p><br>
        <h1>Time posted: </h1>
        <p id="timestamp">{{ post.get_timestamp() }}</p><br>
        <h1>Query text: </h1>
        <p id="querytext">{{ post.get_body() }}</p><br>
        <h1>Results: </h1>
        <p id="queryresults">{{ post.get_result() }}</p><br><br>
    </div>

{% endblock %}
