{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron">
            Please register for an account
        </div>
    <div class="col-sm-6 offset-sm-3">
        Already a user? <a href="/login">Click to Login!</a>
    </div>
    </div>
    <form action="">
    <select name="fun" id="fun">
        <option value="0">Yes</option>
        <option value="1">NO</option>
        <option value="2">Maybe</option>
    </select>

    </form>
{% endblock %}
