{%  extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1 class="text-center">A Spell Checker</h1>
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron">
            Please register for an account
        </div>
    <div class="col-sm-6 offset-sm-3">
        Already a user? <a href="{{ url_for('spell_check.login') }}">Click to Login!</a>
    </div>
    </div>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span id="success" style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span id="success" style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.two_fa.label }}<br>
        {{ form.two_fa(size=14) }}<br>
        {% for error in form.two_fa.errors %}
            <span id="success" style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
